{{/* Author partial - supports both single author and multiple authors format */}}
{{/* Single author format: author, avatar, authorlink */}}
{{/* Multiple authors format: authors: [{author, avatar, link}, ...] */}}
{{/* Avatar is optional: site author uses params.avatar; others use speakers/firstname_lastname.* */}}

{{ $params := .Params }}
{{ $template := .template }}

{{/* Check if we have multiple authors */}}
{{ if $params.authors }}
  {{/* Multiple authors */}}
  <div class="flex items-center flex-wrap gap-2">
    {{ range $index, $author := $params.authors }}
      {{ $avatar := partial "author-avatar.html" (dict "name" $author.author "avatar" $author.avatar) }}
      <div class="flex items-center">
        {{ if $avatar }}
        <div class="avatar mr-1">
          <div class="w-8 rounded-full">
            <img class="my-0!" src="{{ $avatar | relURL }}" alt="{{ $author.author }}" />
          </div>
        </div>
        {{ else }}
        <span>@</span>
        {{ end }}

        {{/* Support both "link" and "authorlink" for flexibility */}}
        {{ $authorLink := or $author.link $author.authorlink }}
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        {{ if and $authorLink (eq $template "single") }}
          <a itemprop="url" href="{{ $authorLink }}" target="_blank">
            <span itemprop="name">{{ $author.author }}</span>
          </a>
        {{ else }}
          <span itemprop="name">{{ $author.author }}</span>
        {{ end }}
        </span>
      </div>
    {{ end }}
  </div>
{{ else }}
  {{/* Single author (backward compatible) */}}
  {{ $name := or $params.author site.Params.author }}
  {{ $avatar := partial "author-avatar.html" (dict "name" $name "avatar" $params.avatar) }}
  <div class="flex items-center">
    {{ if $avatar }}
    <div class="avatar mr-1">
      <div class="w-8 rounded-full">
        <img class="my-0!" src="{{ $avatar | relURL }}" alt="{{ $name }}" />
      </div>
    </div>
    {{ else }}
    <span>@</span>
    {{ end }}

    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
    {{ if and $params.author $params.authorlink (eq $template "single") }}
      <a itemprop="url" href="{{ $params.authorlink }}" target="_blank">
        <span itemprop="name">{{ $params.author }}</span>
      </a>
    {{ else }}
      <span itemprop="name">{{ $name }}</span>
    {{ end }}
    </span>
  </div>
{{ end }}
